# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore other common files/folders
.DS_Store
*.log

# Ignore ollama directory
ollama/

# Ignore id_ed25519.pub file
id_ed25519.pub

# Ignore all .pun files
*.pun

*.coverage